In [1]:
import sys
import numpy as np
from numpy.random import randn
from pandas import *
import pandas

In [31]:
#generate dataframe from random values
df = DataFrame({'a': randn(10),
                'b': ['good', 'evil'] * 5,
                'c': randn(10),
                'd': np.random.random_integers(5, size=10),
                'e': np.random.random_integers(10, size=10)
               },
               index=['xxx','xxy','xxz','xyx','xyy','xyz','xzx','xzy','xzz','yxx'])
df

/opt/conda/lib/python2.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: This function is deprecated. Please call randint(1, 5 + 1) instead
  """
/opt/conda/lib/python2.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: This function is deprecated. Please call randint(1, 10 + 1) instead

            a     b         c  d  e
xxx -0.087335  good -1.318706  1  3
xxy -0.761086  evil  0.307126  4  7
xxz  0.765601  good -0.238157  3  5
xyx  0.588492  evil -0.336906  4  3
xyy  0.072319  good  0.557398  4  6
xyz  1.897534  evil -1.327367  4  8
xzx  0.630753  good -1.381551  3  8
xzy -1.591638  evil -1.818509  3  6
xzz  0.080670  good -0.975126  4  2
yxx  1.286362  evil  1.036583  1  8

In [12]:
#select columns from dataframe
df['a']

xxx   -1.576005
xxy    0.851305
xxz    0.791786
xyx    1.102537
xyy    1.020753
xyz    0.221377
xzx    0.596897
xzy   -0.712583
xzz   -0.199051
yxx    0.974528
Name: a, dtype: float64

In [17]:
df[['b','c','d']]

        b         c  d
xxx  good  0.607781  3
xxy  evil  1.087770  3
xxz  good -1.529793  2
xyx  evil  0.308387  1
xyy  good  0.698369  1
xyz  evil -0.338264  1
xzx  good -0.091029  5
xzy  evil -0.406146  5
xzz  good  0.347848  2
yxx  evil  0.914238  1

In [29]:
#create dataframe and set index to datetime for a range of dates
dfT = DataFrame({'a': randn(10),
                'b': ['good', 'evil'] * 5,
                'c': randn(10),
                'd': np.random.random_integers(5, size=10),
                'e': np.random.random_integers(10, size=10)
               },
               index=pandas.date_range('12/1/2016', periods=10))
dfT

/opt/conda/lib/python2.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: This function is deprecated. Please call randint(1, 5 + 1) instead
  """
/opt/conda/lib/python2.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: This function is deprecated. Please call randint(1, 10 + 1) instead

                   a     b         c  d  e
2016-12-01 -0.016153  good -1.021799  1  8
2016-12-02 -1.482265  evil -0.644545  1  9
2016-12-03 -0.174013  good -0.130836  5  8
2016-12-04  0.314903  evil -0.455717  4  1
2016-12-05 -0.922842  good  0.731067  2  2
2016-12-06 -1.034581  evil  3.033180  1  8
2016-12-07 -0.022031  good  0.378168  1  7
2016-12-08 -1.795538  evil  1.209793  1  1
2016-12-09 -1.167578  good  0.386479  3  8
2016-12-10 -0.983764  evil  0.064289  4  1

In [33]:
#select range of rows by index
df[:1]

            a     b         c  d  e
xxx -0.087335  good -1.318706  1  3

In [34]:
df[2]

KeyError: 2

In [35]:
df[2:3]

            a     b         c  d  e
xxz  0.765601  good -0.238157  3  5

In [38]:
df.ix['xxz']

/opt/conda/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

a    0.765601
b        good
c   -0.238157
d           3
e           5
Name: xxz, dtype: object

In [40]:
df.ix[2]

a    0.765601
b        good
c   -0.238157
d           3
e           5
Name: xxz, dtype: object

In [36]:
df[-3:]

            a     b         c  d  e
xzy -1.591638  evil -1.818509  3  6
xzz  0.080670  good -0.975126  4  2
yxx  1.286362  evil  1.036583  1  8

In [41]:
df.ix[-3:]

            a     b         c  d  e
xzy -1.591638  evil -1.818509  3  6
xzz  0.080670  good -0.975126  4  2
yxx  1.286362  evil  1.036583  1  8

In [42]:
df.ix['xzy':'yxx']

            a     b         c  d  e
xzy -1.591638  evil -1.818509  3  6
xzz  0.080670  good -0.975126  4  2
yxx  1.286362  evil  1.036583  1  8

In [44]:
df.ix[['xxx','xzy','yxx']]

            a     b         c  d  e
xxx -0.087335  good -1.318706  1  3
xzy -1.591638  evil -1.818509  3  6
yxx  1.286362  evil  1.036583  1  8

In [45]:
df.ix[['xxx','xzy','yxx'],'b']

xxx    good
xzy    evil
yxx    evil
Name: b, dtype: object